* {
  font-family: JetBrainsMono Nerd Font Mono;
}

@-moz-document url-prefix("about:"), url("about:home"), url("about:newtab"), url("about:privatebrowsing") {
  :root {
      --in-content-page-background: #282828 !important;
      --logo-and-wordmark{ display: none !important; }
  }
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab){

/* show nightly logo instead of default firefox logo in newtabpage */
.search-wrapper .logo-and-wordmark .logo {
    /* background: url("${./logo.png}") no-repeat center !important; */
    /* background-color: #282828 !important; */
    background-size: auto !important;
    background-size: 82px !important;
    display: inline-block !important;
    height: 82px !important;
    width: 82px !important;
}

body {
    background-color: #282828 !important;
    background: #282828 !important;
    background: url("./bg.png") !important;
    background-size: cover !important;
    --newtab-background-color: #282828 !important;
    --newtab-background-color-secondary: #282828 !important;
}

body[lwt-newtab-brighttext] {
    --newtab-background-color: #282828 !important;
    --newtab-background-color-secondary: #282828 !important;

}

.top-site-outer .top-site-icon {
    background-color: #282828 !important;

}

.top-site-outer .tile {
    background-color: #282828 !important;
}

.top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
    background: #282828 !important;
}

.top-site-outer .context-menu-button:is(:active, :focus) {
    background-color: #282828 !important;
}

.search-wrapper .search-handoff-button{
    border-radius: 40px !important;
    background-color: #1d2021 !important;
}
}
